{
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "MaryAI API server with multi-language support (uz, ru, en)",
    "title": "MaryAI API",
    "contact": {},
    "version": "1.0"
  },
  "host": "api.maryai.uz",
  "basePath": "/",
  "paths": {
    "/api/v1/admin/brands": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get all brands with pagination",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "brands"
        ],
        "summary": "List brands",
        "parameters": [
          {
            "maximum": 100,
            "minimum": 1,
            "type": "integer",
            "description": "Limit (default: 10, max: 100)",
            "name": "limit",
            "in": "query"
          },
          {
            "minimum": 0,
            "type": "integer",
            "description": "Offset (default: 0)",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.BrandResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create a new brand",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "brands"
        ],
        "summary": "Create brand",
        "parameters": [
          {
            "description": "Brand creation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.CreateBrandRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/model.BrandResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/admin/brands/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get a brand by ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "brands"
        ],
        "summary": "Get brand",
        "parameters": [
          {
            "type": "string",
            "description": "Brand ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.BrandResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Update a brand by ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "brands"
        ],
        "summary": "Update brand",
        "parameters": [
          {
            "type": "string",
            "description": "Brand ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Brand update request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.UpdateBrandRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.BrandResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Delete a brand by ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "brands"
        ],
        "summary": "Delete brand",
        "parameters": [
          {
            "type": "string",
            "description": "Brand ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/admin/brands/{id}/superadmins": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "brands"
        ],
        "summary": "List brand superadmins",
        "parameters": [
          {
            "type": "string",
            "description": "Brand UUID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.BrandSuperadminResponse"
              }
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "brands"
        ],
        "summary": "Create brand superadmin",
        "parameters": [
          {
            "type": "string",
            "description": "Brand UUID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Superadmin creation request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.CreateBrandSuperadminRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/model.BrandSuperadminResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/admin/brands/{id}/superadmins/{user_id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "brands"
        ],
        "summary": "Get brand superadmin",
        "parameters": [
          {
            "type": "string",
            "description": "Brand UUID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "User UUID",
            "name": "user_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.BrandSuperadminResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "brands"
        ],
        "summary": "Update brand superadmin",
        "parameters": [
          {
            "type": "string",
            "description": "Brand UUID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "User UUID",
            "name": "user_id",
            "in": "path",
            "required": true
          },
          {
            "description": "Update request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.UpdateBrandSuperadminRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.BrandSuperadminResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "brands"
        ],
        "summary": "Delete brand superadmin",
        "parameters": [
          {
            "type": "string",
            "description": "Brand UUID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "User UUID",
            "name": "user_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/auth/global/login": {
      "post": {
        "description": "Authenticate global superadmin (main DB) and return access and refresh tokens",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "auth"
        ],
        "summary": "Global superadmin login",
        "parameters": [
          {
            "description": "Login credentials",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.GlobalLoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully logged in",
            "schema": {
              "$ref": "#/definitions/model.LoginResponse"
            }
          },
          "400": {
            "description": "Invalid request format",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "description": "Authenticate user using username, password, and brand_id (slug) and return access token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "auth"
        ],
        "summary": "User login",
        "parameters": [
          {
            "description": "Login credentials",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.LoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully logged in",
            "schema": {
              "$ref": "#/definitions/model.LoginResponse"
            }
          },
          "400": {
            "description": "Invalid request format",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/auth/login-pincode": {
      "post": {
        "description": "Authenticate POS staff using brand_id, a role password (superadmin/admin/manager), and pincode",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "auth"
        ],
        "summary": "POS staff login with pincode",
        "parameters": [
          {
            "description": "POS login credentials",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.PincodeLoginRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully logged in",
            "schema": {
              "$ref": "#/definitions/model.LoginResponse"
            }
          },
          "400": {
            "description": "Invalid request format",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Refresh access token using refresh token",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "auth"
        ],
        "summary": "Token refresh",
        "parameters": [
          {
            "description": "Refresh token",
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.RefreshRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "schema": {
              "$ref": "#/definitions/model.RefreshResponse"
            }
          },
          "400": {
            "description": "Invalid request format",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Invalid or expired refresh token",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "description": "Register a new user. User role defaults to 'user' if not provided.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "auth"
        ],
        "summary": "Register a new user account",
        "parameters": [
          {
            "description": "User registration data",
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.RegisterRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "User successfully registered",
            "schema": {
              "$ref": "#/definitions/model.RegisterResponse"
            }
          },
          "400": {
            "description": "Bad request - invalid input, missing required fields, or user already exists with phone number",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/auth/terminal/branches": {
      "post": {
        "description": "Verify brand admin password and return list of branches",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "auth"
        ],
        "summary": "Get branches for terminal",
        "parameters": [
          {
            "description": "Brand credentials",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/handler.getTerminalBranchesRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.BranchResponse"
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/terminal/token": {
      "post": {
        "description": "Verify brand admin password + branch_id and issue a permanent terminal JWT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "auth"
        ],
        "summary": "Generate terminal token",
        "parameters": [
          {
            "description": "Terminal token request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/handler.generateTerminalTokenRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/handler.generateTerminalTokenResponse"
            }
          }
        }
      }
    },
    "/api/v1/bills": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "List bills (orders) with bill snapshots and filters, supports expand",
        "produces": [
          "application/json"
        ],
        "tags": [
          "reports"
        ],
        "summary": "Get bills",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Language (uz, ru, en)",
            "name": "lang",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Start date/time (RFC3339 or YYYY-MM-DD)",
            "name": "start",
            "in": "query"
          },
          {
            "type": "string",
            "description": "End date/time (RFC3339 or YYYY-MM-DD)",
            "name": "end",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Bill number to search within the date range",
            "name": "bill_no",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Bill status (opened, closed, paid)",
            "name": "bill_status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Payment type (cash, card)",
            "name": "payment_type",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Waiter ID (UUID)",
            "name": "waiter_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Hall ID (UUID)",
            "name": "hall_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Table ID (UUID)",
            "name": "table_id",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Expand relations (comma-separated: user_id, hall_id, table_id, etc)",
            "name": "expand",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.SuccessResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/bills/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get full bill details including items, supports expand",
        "produces": [
          "application/json"
        ],
        "tags": [
          "reports"
        ],
        "summary": "Get bill details",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Language (uz, ru, en)",
            "name": "lang",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Bill ID (UUID)",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Expand relations (comma-separated: user_id, hall_id, etc)",
            "name": "expand",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.SuccessResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/branches": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve all branches with pagination",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "branches"
        ],
        "summary": "Get all branches",
        "parameters": [
          {
            "type": "integer",
            "default": 20,
            "description": "Limit results (default: 20)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset for pagination (default: 0)",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Expand related fields",
            "name": "expand",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all branches",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.BranchResponse"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create a new branch with name, address, and phone",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "branches"
        ],
        "summary": "Create a new branch",
        "parameters": [
          {
            "description": "Branch creation data",
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.CreateBranchRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Branch created successfully",
            "schema": {
              "$ref": "#/definitions/model.BranchResponse"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/branches-lang": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve all branches with names translated to specified language",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "branches"
        ],
        "summary": "Get all branches with language support",
        "parameters": [
          {
            "type": "string",
            "description": "Language code (uz, ru, en - default: uz)",
            "name": "lang",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Limit (default: 20)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Offset (default: 0)",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Expand related fields",
            "name": "expand",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Branches retrieved successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.BranchResponse"
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/branches-lang/detail": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve branches with nested storages and each storage's categories, localized. A brand superadmin gets every branch; a branch-scoped user gets only their branch.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "branches"
        ],
        "summary": "Get branch detail (storages + categories) with language support",
        "parameters": [
          {
            "type": "string",
            "description": "Language code (uz, ru, en - default: uz)",
            "name": "lang",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Branch detail retrieved successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.BranchDetailResponse"
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/branches-lang/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve a specific branch by its ID with names translated to specified language",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "branches"
        ],
        "summary": "Get branch by ID with language support",
        "parameters": [
          {
            "type": "string",
            "description": "Branch ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Language code (uz, ru, en - default: uz)",
            "name": "lang",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Branch details",
            "schema": {
              "$ref": "#/definitions/model.BranchResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "404": {
            "description": "Branch not found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/branches/{branch_id}/compound-stock": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get all compound stocks for a specific branch with pagination",
        "produces": [
          "application/json"
        ],
        "tags": [
          "Compound Stock"
        ],
        "summary": "Get compound stock by branch",
        "parameters": [
          {
            "type": "string",
            "default": "uz",
            "description": "Language (uz, ru, en)",
            "name": "lang",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Branch ID",
            "name": "branch_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.CompoundStockResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/branches/{branch_id}/employee-shifts": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "employee-shifts"
        ],
        "summary": "List shifts by branch",
        "parameters": [
          {
            "type": "string",
            "description": "Page (default 1)",
            "name": "page",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Limit (default 20)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "string",
            "description": "RFC3339 date from",
            "name": "date_from",
            "in": "query"
          },
          {
            "type": "string",
            "description": "RFC3339 date to",
            "name": "date_to",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.EmployeeShiftListSwaggerResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorData"
            }
          }
        }
      }
    },
    "/api/v1/branches/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve a specific branch by its ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "branches"
        ],
        "summary": "Get branch by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Branch ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Branch details",
            "schema": {
              "$ref": "#/definitions/model.BranchResponse"
            }
          },
          "400": {
            "description": "Invalid branch ID",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "404": {
            "description": "Branch not found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Update a branch's name, name_i18n, phone, or default service percent",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "branches"
        ],
        "summary": "Update branch",
        "parameters": [
          {
            "type": "string",
            "description": "Branch ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Branch update data",
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.UpdateBranchRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Branch updated successfully",
            "schema": {
              "$ref": "#/definitions/model.BranchResponse"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Soft delete a branch (mark as deleted without removing from database)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "branches"
        ],
        "summary": "Delete branch",
        "parameters": [
          {
            "type": "string",
            "description": "Branch ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Branch deleted successfully",
            "schema": {
              "$ref": "#/definitions/model.SuccessResponse"
            }
          },
          "400": {
            "description": "Invalid branch ID",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/branches/{id}/restore": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Restore a previously deleted branch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "branches"
        ],
        "summary": "Restore branch",
        "parameters": [
          {
            "type": "string",
            "description": "Branch ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Branch restored successfully",
            "schema": {
              "$ref": "#/definitions/model.SuccessResponse"
            }
          },
          "400": {
            "description": "Invalid branch ID",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/brand/info": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Returns brand info derived from the token's brand_id claim",
        "produces": [
          "application/json"
        ],
        "tags": [
          "brands"
        ],
        "summary": "Get own brand info",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.BrandResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve all cafe tables with pagination, optional search, hall filter, status filter and sorting",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Get all cafe tables",
        "parameters": [
          {
            "type": "string",
            "description": "Search by table number",
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by hall ID",
            "name": "hall_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by table status",
            "name": "status",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by table type",
            "name": "table_type",
            "in": "query"
          },
          {
            "enum": [
              "number",
              "created_at"
            ],
            "type": "string",
            "default": "created_at",
            "description": "Sort by field",
            "name": "sort_by",
            "in": "query"
          },
          {
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "default": "desc",
            "description": "Sort order",
            "name": "sort_order",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Limit (default: 20)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Offset (default: 0)",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.PaginatedCafeTablesResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create a new cafe table in a specific hall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Create a new cafe table",
        "parameters": [
          {
            "description": "Create Cafe Table Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.CreateCafeTableRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/model.CafeTableResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables/available/capacity": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get available tables that can accommodate a minimum number of guests",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Get available tables by capacity",
        "parameters": [
          {
            "type": "integer",
            "description": "Minimum capacity",
            "name": "capacity",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.CafeTableResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables/available/hall/{hall_id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get all available (free) tables in a specific hall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Get available tables by hall",
        "parameters": [
          {
            "type": "string",
            "description": "Hall ID",
            "name": "hall_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.CafeTableResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables/available/hall/{hall_id}/capacity": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get available tables in a specific hall that can accommodate a minimum number of guests",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Get available tables by hall and capacity",
        "parameters": [
          {
            "type": "string",
            "description": "Hall ID",
            "name": "hall_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Minimum capacity",
            "name": "capacity",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.CafeTableResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables/hall-status": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get tables in a specific hall with a specific status",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Get cafe tables by hall and status",
        "parameters": [
          {
            "type": "string",
            "description": "Hall ID",
            "name": "hall_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Status",
            "name": "status",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.CafeTableResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables/hall/{hall_id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get all tables in a specific hall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Get cafe tables by hall ID",
        "parameters": [
          {
            "type": "string",
            "description": "Hall ID",
            "name": "hall_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Expand related fields",
            "name": "expand",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.CafeTableResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables/stats/occupancy": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get overall cafe table occupancy statistics",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Get table occupancy statistics",
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.TableOccupancyStats"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables/status/{status}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get tables with a specific status",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Get cafe tables by status",
        "parameters": [
          {
            "type": "string",
            "description": "Status",
            "name": "status",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "default": 10,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Expand related fields",
            "name": "expand",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.CafeTableResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Get a specific cafe table by its ID",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Get cafe table by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Cafe Table ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.CafeTableResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "Bearer": []
          },
          {
            "BearerAuth": []
          }
        ],
        "description": "Update a cafe table details",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Update a cafe table",
        "parameters": [
          {
            "type": "string",
            "description": "Cafe Table ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Update Cafe Table Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.UpdateCafeTableRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.CafeTableResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": []
          },
          {
            "BearerAuth": []
          }
        ],
        "description": "Soft delete a cafe table",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Delete a cafe table",
        "parameters": [
          {
            "type": "string",
            "description": "Cafe Table ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables/{id}/restore": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Restore a soft deleted cafe table",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Restore a cafe table",
        "parameters": [
          {
            "type": "string",
            "description": "Cafe Table ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables/{id}/set-busy": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Mark a cafe table as busy (occupied)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Set table as busy",
        "parameters": [
          {
            "type": "string",
            "description": "Cafe Table ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.CafeTableResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables/{id}/set-free": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Mark a cafe table as free (available)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Set table as free",
        "parameters": [
          {
            "type": "string",
            "description": "Cafe Table ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.CafeTableResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cafe-tables/{id}/status": {
      "patch": {
        "security": [
          {
            "Bearer": []
          },
          {
            "BearerAuth": []
          }
        ],
        "description": "Update the status of a cafe table",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cafe-tables"
        ],
        "summary": "Update cafe table status",
        "parameters": [
          {
            "type": "string",
            "description": "Cafe Table ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Update Cafe Table Status Request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.UpdateCafeTableStatusRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.CafeTableResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/calculations/preview": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Calculate ingredient + compound costs for UI preview. Does not create any DB records.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "Calculations"
        ],
        "summary": "Preview calculations (no DB writes)",
        "parameters": [
          {
            "description": "Preview calculations request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.PreviewCalculationsRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Preview generated successfully",
            "schema": {
              "$ref": "#/definitions/model.PreviewCalculationsResponse"
            }
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cash-register-shifts": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Returns a paginated list of cash register shifts. Filter by cash_register_id, cashier_id, or status (open/closed).",
        "produces": [
          "application/json"
        ],
        "tags": [
          "CashRegisterShifts"
        ],
        "summary": "List cash register shifts",
        "parameters": [
          {
            "type": "string",
            "description": "Filter by cash register ID",
            "name": "cash_register_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by cashier ID",
            "name": "cashier_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by status: open or closed",
            "name": "status",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Limit",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Expand related fields",
            "name": "expand",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.CashRegisterShiftResponse"
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Opens a new shift for a cash register. Only one active shift per cash register is allowed.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "CashRegisterShifts"
        ],
        "summary": "Open cash register shift",
        "parameters": [
          {
            "description": "Open shift request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.OpenCashRegisterShiftRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/model.CashRegisterShiftResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cash-register-shifts/active": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Returns the currently open shift for the given cash register.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "CashRegisterShifts"
        ],
        "summary": "Get active shift",
        "parameters": [
          {
            "type": "string",
            "description": "Cash Register ID",
            "name": "cash_register_id",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.CashRegisterShiftResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cash-register-shifts/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Returns a single cash register shift by its ID.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "CashRegisterShifts"
        ],
        "summary": "Get cash register shift",
        "parameters": [
          {
            "type": "string",
            "description": "Shift ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.CashRegisterShiftResponse"
            }
          },
          "404": {
            "description": "Not Found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Soft-deletes a cash register shift by ID.",
        "produces": [
          "application/json"
        ],
        "tags": [
          "CashRegisterShifts"
        ],
        "summary": "Delete cash register shift",
        "parameters": [
          {
            "type": "string",
            "description": "Shift ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.SuccessResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cash-register-shifts/{id}/close": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Closes an open shift by recording closing cash and card amounts.",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "CashRegisterShifts"
        ],
        "summary": "Close cash register shift",
        "parameters": [
          {
            "type": "string",
            "description": "Shift ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Close shift request",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.CloseCashRegisterShiftRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.CashRegisterShiftResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cash-registers": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve all cash registers for the current branch with optional search filter",
        "produces": [
          "application/json"
        ],
        "tags": [
          "cash-registers"
        ],
        "summary": "Get all cash registers",
        "parameters": [
          {
            "type": "string",
            "description": "Filter by name",
            "name": "search",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Limit results (default: 20)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset for pagination (default: 0)",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Expand related fields",
            "name": "expand",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Cash registers retrieved successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.CashRegisterResponse"
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create a new cash register for the current branch",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cash-registers"
        ],
        "summary": "Create a new cash register",
        "parameters": [
          {
            "description": "Cash register data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.CashRegisterRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Cash register created successfully",
            "schema": {
              "$ref": "#/definitions/model.CashRegisterResponse"
            }
          },
          "400": {
            "description": "Invalid request format",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cash-registers/branch/{branchId}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve all cash registers for a specific branch",
        "produces": [
          "application/json"
        ],
        "tags": [
          "cash-registers"
        ],
        "summary": "Get cash registers by branch ID",
        "parameters": [
          {
            "type": "string",
            "description": "Branch ID",
            "name": "branchId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "default": 20,
            "description": "Limit results (default: 20)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "default": 0,
            "description": "Offset for pagination (default: 0)",
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Cash registers retrieved successfully",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.CashRegisterResponse"
              }
            }
          },
          "400": {
            "description": "Invalid branch ID",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cash-registers/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve a cash register by its ID",
        "produces": [
          "application/json"
        ],
        "tags": [
          "cash-registers"
        ],
        "summary": "Get cash register by ID",
        "parameters": [
          {
            "type": "string",
            "description": "Cash register ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Cash register retrieved successfully",
            "schema": {
              "$ref": "#/definitions/model.CashRegisterResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "404": {
            "description": "Cash register not found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "put": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Update a cash register",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "cash-registers"
        ],
        "summary": "Update cash register",
        "parameters": [
          {
            "type": "string",
            "description": "Cash register ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "description": "Cash register update data",
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.CashRegisterRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cash register updated successfully",
            "schema": {
              "$ref": "#/definitions/model.CashRegisterResponse"
            }
          },
          "400": {
            "description": "Invalid request format",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "404": {
            "description": "Cash register not found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Soft delete a cash register",
        "produces": [
          "application/json"
        ],
        "tags": [
          "cash-registers"
        ],
        "summary": "Delete cash register",
        "parameters": [
          {
            "type": "string",
            "description": "Cash register ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Cash register deleted successfully",
            "schema": {
              "$ref": "#/definitions/model.SuccessResponse"
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "404": {
            "description": "Cash register not found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/cash-registers/{id}/restore": {
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Restore a soft-deleted cash register",
        "produces": [
          "application/json"
        ],
        "tags": [
          "cash-registers"
        ],
        "summary": "Restore cash register",
        "parameters": [
          {
            "type": "string",
            "description": "Cash register ID",
            "name": "id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Cash register restored successfully",
            "schema": {
              "$ref": "#/definitions/model.SuccessResponse"
            }
          },
          "400": {
            "description": "Invalid ID",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/categories": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve all categories with pagination, optional search, filters and sorting",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "categories"
        ],
        "summary": "Get all categories",
        "parameters": [
          {
            "type": "string",
            "description": "Search by category name",
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by department ID",
            "name": "department_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by storage ID",
            "name": "storage_id",
            "in": "query"
          },
          {
            "enum": [
              "name",
              "created_at"
            ],
            "type": "string",
            "default": "created_at",
            "description": "Sort by field",
            "name": "sort_by",
            "in": "query"
          },
          {
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "default": "desc",
            "description": "Sort order",
            "name": "sort_order",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Limit (default: 20)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Offset (default: 0)",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Expand related fields",
            "name": "expand",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.PaginatedCategoriesResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      },
      "post": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Create a new category with name and optional relationships (department, storage, parent)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "categories"
        ],
        "summary": "Create a new category",
        "parameters": [
          {
            "description": "Category creation data",
            "name": "input",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/model.CreateCategoryRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Category created successfully",
            "schema": {
              "$ref": "#/definitions/model.CategoryResponse"
            }
          },
          "400": {
            "description": "Invalid request data",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/categories-lang": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve all categories with names translated to specified language",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "categories"
        ],
        "summary": "Get all categories with language support",
        "parameters": [
          {
            "type": "string",
            "description": "Search by category name",
            "name": "search",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by department ID",
            "name": "department_id",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Filter by storage ID",
            "name": "storage_id",
            "in": "query"
          },
          {
            "enum": [
              "name",
              "created_at"
            ],
            "type": "string",
            "default": "created_at",
            "description": "Sort by field",
            "name": "sort_by",
            "in": "query"
          },
          {
            "enum": [
              "asc",
              "desc"
            ],
            "type": "string",
            "default": "desc",
            "description": "Sort order",
            "name": "sort_order",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Limit (default: 20)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Offset (default: 0)",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Expand related fields",
            "name": "expand",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/model.PaginatedCategoriesResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal Server Error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/categories-lang/{id}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve a specific category by its ID with names translated to specified language",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "categories"
        ],
        "summary": "Get category by ID with language support",
        "parameters": [
          {
            "type": "string",
            "description": "Category ID",
            "name": "id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "description": "Language code (uz, ru, en - default: uz)",
            "name": "lang",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Category details",
            "schema": {
              "$ref": "#/definitions/model.CategoryResponse"
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "404": {
            "description": "Category not found",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/categories/department/{departmentId}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve all categories for a specific department",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "categories"
        ],
        "summary": "Get categories by department",
        "parameters": [
          {
            "type": "string",
            "description": "Department ID",
            "name": "departmentId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Limit (default: 20)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Offset (default: 0)",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Expand related fields",
            "name": "expand",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Categories found",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.CategoryResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID format",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/categories/parent/{parentId}": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve all subcategories for a specific parent category",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "categories"
        ],
        "summary": "Get subcategories by parent",
        "parameters": [
          {
            "type": "string",
            "description": "Parent Category ID",
            "name": "parentId",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "description": "Limit (default: 20)",
            "name": "limit",
            "in": "query"
          },
          {
            "type": "integer",
            "description": "Offset (default: 0)",
            "name": "offset",
            "in": "query"
          },
          {
            "type": "string",
            "description": "Expand related fields",
            "name": "expand",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Subcategories found",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/model.CategoryResponse"
              }
            }
          },
          "400": {
            "description": "Invalid ID format",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          },
          "500": {
            "description": "Internal server error",
            "schema": {
              "$ref": "#/definitions/model.ErrorResponse"
            }
          }
        }
      }
    },
    "/api/v1/categories/root": {
      "get": {
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "description": "Retrieve all root categories (categories without parent)",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "tags": [
          "categories"
        ],
        "summary": "Get root categories",
        "parameters": [
          {
[...]
